<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is not HTML it is a ejs</h1>
    <p>hello ejs kaise ho khana kha ke jana</p>

    <!-- ejs you can also write js as well -->
</body>
</html>