<!-- include header -->
<%- include('./partials/header.ejs') %>

<button id="btn">click me</button>
    <h1>Hello everyone today i am attending session 46</h1>

    <p>in this session we learn about public folder and static files</p>

<!-- include footer -->
 <%- include('./partials/footer.ejs') %>


   