

<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>

<div class="row">
       <div class="col-6 mx-auto">
        <form action="/products" method="post">
              <div class="mb-3">
                     <label for="naam">Name:</label>
                     <input type="text" class="form-control" name="name" id="naam" placeholder="Name of the products">
              </div>

              <div class="mb-3">
                     <label for="img">Image:</label>
                     <input type="text" class="form-control" name="image" id="img" placeholder="image URL of the products">
              </div>

              <div class="mb-3">
                     <label for="price">Price:</label>
                     <input type="number" class="form-control" name="price" id="price" placeholder="Price of the products">
              </div>

              <div class="mb-3">
                     <label for="des">Description:</label>
                     <textarea name="des" id="des" placeholder="description of the product" row="5"></textarea>
              </div>
              <button class="btn btn-sm btn-success">Add Product</button>
        </form>
       </div>
</div>

