<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Showing a particular blog</h1>

    <section>
        <h2>ID is: <%= foundComment.id %></h2>
        <h3>Name is: <%= foundComment.username %></h3>
        <h4>comment is:<%= foundComment.comment %></h4>
        <!-- <a href="/blogs/<%= foundComment.id %>"></a> -->
    </section>
</body>
</html>